<span class="btn navbar-btn visible-xs hamburger"><i class="fa fa-bars"></i>&nbsp;Menu</span>
<div class="menu">
	<span class="visible-xs hamburger-close"><i class="fa fa-angle-left"></i></span>
	<a class="btn navbar-btn" href="{{@blog.url}}/about">About</a>
	<a class="btn navbar-btn" href="{{@blog.url}}/contacts">Contacts</a>
</div>